html{
	background: url(../images/farming.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header{
	background-color: white;
	margin: 0;
	float: right;
	width: 100%;
	top: 0;
	position: fixed;
	overflow: hidden;
}

#center{
		background-color: transparent;
		display:inline-block;
		float:none;
	    text-align:left;
		margin-right:-4px;
		text-align:center;
        margin-top: 15%;
        margin-bottom:15%;
        margin-left: 15%;
        position: relative;
        top: 100%;
        border-radius: 25px;
	    border: 2px solid;
	    border-color: blue;
	    padding: 20px;
	    width: 75%;
		
}

#footer{
	top: 90%;
	height: 5%;
	background-color: blue;
	text-align: center;
	color: white;
	width: 100%;
	bottom: 0;
	position: fixed;
	overflow: hidden;
}
		